.page-loader
{	position: fixed;
	background: white;
	top:0;
	left:0;
	bottom:0;
	right: 0;
	z-index:10000;
	-webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
	font-family: "Lucida Grande",Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
}
.page-loader.hidden
{	opacity: 0;
}

.page-loader .loader p:before
{	content:""!important;
}

.page-loader .info
{	color: #e3e4dc;
	font-size: 1em;
	margin: 80px 0;
	padding: 0;
	position: absolute;
	text-align: center;
	top: 40%;
	-webkit-transform: scale(1, 2.5);
	-webkit-transform-origin: 50% 0 0;
	transform: scale(1, 2.5);
	transform-origin: 50% 0 0;
	width: 100%;
}

.page-loader .loader:after, 
.page-loader .loader:before,
.page-loader .loader 
{	border: 3px solid #E3E4DC;
	border-radius: 50%;
}
.page-loader .loader 
{	position: fixed;
	top: 40%;
	left: 50%;
	width: 160px;
	height: 160px;
	margin: -80px 0px 0px -80px;
	border-color: transparent #E3E4DC;
	animation: 2s linear 0s reverse none infinite running spin;
	-webkit-animation: 2s linear 0s reverse none infinite running spin;
}

.page-loader .loader:after, 
.page-loader .loader:before 
{	content:"";
	border-color: #E3E4DC transparent;
	position: absolute;
	box-sizing: border-box;
	top:30%;
	left:30%;
	width: 40%;
	height: 40%;
}
.page-loader .loader:before 
{	width:140px;
	height:140px;
	left:10px;
	top:10px;
	animation: 1s linear 0s normal none infinite running spin;
	-webkit-animation: 1s linear 0s normal none infinite running spin;
}

@keyframes spin 
{	0% { 
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
 	}
	100% { 
		-webkit-transform: rotate(360deg); 
		transform: rotate(360deg); 

	}
}